<ul class="navbar">
  <li><a href="#" page="login">Login</a></li>
  <li><a href="#" page="signup">SignUp </a></li>
  <li><a href="#" page="list">List</a></li>
  <li><a href="#" page="chat">Chat </a></li>
  <li><a href="#" page="profile">Profile </a></li>
  <li><a href="#" page="feedback">Error </a></li>
</ul>