<div>
  <img src="" alt="" />
  <h1>Name</h1>
  <h2>Email</h2>
  <h2>Login</h2>
  <h2>Name</h2>
  <h2>Surname</h2>
  <h2>Mobile</h2>
  <h2>Изменить данные</h2>
  <h2>Изменить пароль</h2>
  <h2>Выйти</h2>
</div>