<ul class="navbar">
  <li><a href="/login" page="login">Login</a></li>
  <li><a href="/signup" page="signup">SignUp </a></li>
  <li><a href="/chat" page="chat">Chat</a></li>
  <li><a href="/profile" page="profile">Profile </a></li>
  <li><a href="/editProfile" page="editProfile">Edit Profile </a></li>
  <li><a href="/editProfilePassword" page="editProfilePassword">Edit Profile
      Password</a></li>
  <li><a href="/error404" page="error404">Error 404</a></li>
  <li><a href="/error500" page="error500">Error 500</a></li>
</ul>